################################################################################
#  .gitignore
################################################################################

.git
.settings
.vscode
.classpath
.factorypath
.project
target