################################################################################
#  .gitignore
################################################################################

.git
.classpath
.factorypath
.project
.vscode
target
